@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

@font-face {
  font-family: "Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: initial;
  font-style: initial;
}
@font-face {
  font-family: "Light";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: initial;
  font-style: initial;
}
@font-face {
  font-family: "Semibold";
  font-display: swap;
  src: url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: initial;
  font-style: initial;
}
._container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__container {
  position: relative;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list li {
  margin-right: 30px;
}
.header__list li:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 16px;
  font-family: "Semibold";
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  line-height: 1.25;
}
.header__link:after {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  margin-top: 2px;
  display: block;
  content: "";
  position: static;
  border-bottom: 1px solid #1b1900;
}
.header__burger {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  right: 15px;
  display: none;
}
.header__open-menu {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #000000;
  margin-bottom: 5px;
  width: 25px;
  height: 3px;
}
.header__open-menu:last-child {
  margin-bottom: 0;
}
.menu {
  background: #000000de;
  right: 0;
  display: none;
  position: fixed;
  z-index: 16;
  width: 50vw;
  height: 100vh;
  padding: 72px 0 0 30px;
}
.menu__cover {
  display: none;
  background: rgba(245, 245, 220, 0);
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
}
.bias_first {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
          transform: rotate(-45deg) translate(-6px, 6px);
}
.bias_center {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.bias_last {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
.bias_last, .bias_first {
  background: #ffffffe0;;
}
.scroll {
  overflow: hidden;
}
.promo {
  background: url(../img/promo/top-background.png) center/cover no-repeat;
  margin-top: 10px;
  width: 100%;
}
.promo__container {
  padding: 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.promo__img {
  position: absolute;
  bottom: 0;
}
.last-img {
  right: 0;
}
.promo__content {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 544px;
  margin: 0 auto;
}
.promo__info {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
.promo__info:first-child {
  margin-bottom: 50px;
}
.promo__info h1:first-child {
  text-align: center;
  font-family: "Light";
  font-weight: 100;
  color: rgb(255, 255, 255);
}
.promo__info h1:last-child {
  text-align: center;
  border-bottom: 5px solid white;
  font-family: "bold";
  color: rgb(255, 255, 255);
  line-height: 1.098; 
}
.promo__info p:first-child {
  font-family: "Light";
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin-bottom: 6px;
  text-transform: uppercase;
  line-height: 1.083;
  text-align: center;
}
.promo__info p:last-child {
  text-align: center;
  font-size: 36px;
  font-family: "bold";
  color: rgb(255, 255, 255);
  line-height: 1.333;
}
.promo__sub {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.promo__sub button {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: initial;
  height: 65px;
  border: 2px solid rgb(255, 255, 255);
}
.promo__link {
  font-size: 16px;
  font-family: "Light";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.info-text__line {
  background: black;
  width: 90px;
  height: 3px;
  margin: 0 auto;
}
.info-text {
  margin-bottom: 30px;
}
.small-info__text {
  margin: 50px 0 30px 0;
}
.info-text h1 {
  margin-bottom: 22px;
  font-family: "Bold";
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.info-text:nth-child(2) h1 {
  padding: 15px 0;
}
.info-text p {
  font-family: "Light";
  font-weight: 600;
  font-size: 16px;
  color: rgb(30, 30, 30);
  line-height: 1.875;
  text-align: center;
}
.small-info__imag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.small-info__imag img:first-child {
  width: 8.334vw;
  height: 100%;
}
.small-info__imag img:last-child {
  width: 8.334vw;
  height: 100%;
}
.small-info__imag img {
  width: 16.667vw;
  height: 100%;
}
.size-table {
  background: url(../img/table/Rectangle.png) center/cover;
}
.size-table__container {
  padding: 44px 0;
}
.size-table__indent {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  background: white;
  padding: 30px 0;
}
.size-table__wrap {
  border-collapse: collapse;
  margin: 0 auto;
}
.size-table__meaning td:first-child {
  width: 229px;
  text-align: left;
  font-family: "Bold";
  color: rgb(30, 30, 30);
}
.size-table__meaning:nth-child(2n+1) {
  background-color: rgb(243, 243, 243);
}
.size-table__meaning:first-child td, .size-table__meaning:nth-child(2) td {
  font-family: "Bold";
  color: rgb(30, 30, 30);
}
.size-table__meaning td {
  width: 12.32%;
  text-transform: uppercase;
  font-family: "Light";
  font-weight: 600;
  color: rgb(30, 30, 30);
  padding: 16px 0;
  text-align: center;
}
.catalog__wrap {
  margin-top: 50px;
}
.catalog__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.catalog__container {
  margin-bottom: 50px;
}
.catalog__btn {
  background-color: rgb(186, 1, 82);
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 67px;
  font-family: "Light";
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.catalog__btn:last-child {
  color: rgb(30, 30, 30);
  background-color: rgb(243, 243, 243);
}
.showCatalog {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.catalog__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__product:nth-child(3) {
  display: none;
}
.product {
  margin-bottom: 20px;
  margin-right: 15px;
  width: 300px;
}
.product:nth-child(3n + 3) {
  margin-right: 0;
}
.product__img {
  position: relative;
  width: 100%;
}
.product__discount {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: rgb(180, 1, 78);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-family: "light";
  font-weight: 600;
  color: rgb(230, 230, 230);
  line-height: 1.8;
}
.product__background {
  width: 100%;
  height: 100%;
}
.product__wrap {
  padding: 10px 0 20px 0;
  border: 1px solid rgb(219, 219, 223);
}
.product__wrap h1 {
  font-size: 18px;
  font-family: "bold";
  color: rgb(30, 30, 30);
  line-height: 2;
  text-align: center;
}
.product__size {
  background: transparent;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0 9px;
  font-size: 18px;
  font-family: "light";
  font-weight: 600;
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  line-height: 1.3;
}
.product__size:hover {
  border: 1px solid rgb(186, 1, 82) !important;
}
.product__list, .product__wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__choice {
  margin: 5px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__color {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background: black;
  border: 2px solid rgb(219, 219, 223);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.product__color:last-child {
  margin-right: 0;
}
.noSize {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  pointer-events: none;
}
.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.product__price-discount {
  margin-right: 20px;
  font-size: 24px;
  font-family: "light";
  font-weight: 600;
  color: rgb(140, 140, 140);
  text-decoration: line-through;
  line-height: 1.5;
}
.product__price-main {
  font-size: 30px;
  font-family: "bold";
  color: rgb(180, 1, 78);
  line-height: 1.2;
}
.product__button {
  border-radius: 4px;
  background-image: -webkit-linear-gradient( 90deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(71,118,230) 0%, rgb(142,84,233) 100%);
  box-shadow: 0px 4px 0px 0px rgba(55, 92, 179, 0.004);
  width: 85%;
  height: 56px;
  font-size: 18px;
  font-family: "light";
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.667;
  text-align: center;
}
.activeSize {
  border: 1px solid rgb(186, 1, 82);
}
.popup {
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding: 25px 0;
  background: rgba(0, 0, 0, 0.493);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup__wrap {
  position: relative;
  z-index: 40;
  width: 500px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: white;
}
.popup__title {
  position: relative;
  z-index: 45;
  font-family: "bold";
  font-size: 17px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__info-size {
  text-transform: uppercase;
  font-family: "light";
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
}
.popup__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__info-title {
  font-family: "bold";
  font-size: 17px;
}
.popup__info-price {
  font-family: "light";
  font-size: 15px;
}
.popup__info-title, .popup__info-price {
  font-weight: 600;
  line-height: 2;
}
.popup__info-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
}
.popup__info-subtitle, .popup__info-text {
  font-family: "light";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
.popup__close-shaow {
  display: none;
  z-index: 30;
  position:fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.popup__cross {
  cursor: pointer;
  box-shadow: 0 0 5px;
  position: absolute;
  z-index: 51;
  top: 10px;
  right: 10px;
}
.popup__cross__items, .popup__cross__items:last-child {
  width: 100%;
  height: 4px;
  background: #494949;
}
.popup__info-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(219, 219, 223);
}
.colorActive {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgb(198 199 199);
}
.form {
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}
.form__input {
  font-family: 'light';
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 20px 28px;
  background: #f7f7f7;
  border-radius: 32px;
  margin-bottom: 12px;
  border: 2px solid transparent;
  outline: none;
}
.form__input:focus {
  border-color: #ffa650;
}
.form__btn {
  font-family: 'light';
  font-weight: 600;
  box-shadow: none;
  width: 100%;
  background: #ffa650;
  padding: 22px 28px;
  border-radius: 50px;
}
.help-info {
  background: #F7F2F4FF;
}
.help-info__container {
  padding: 70px 0 115px 0;
}
.help-info__columns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.help-info__columns:before {
  content: '';
  width: 75%;
  height: 2px;
  background: #EFEBEEFF;
  position: absolute;
  margin-top: 154px;
}
.help-info__wrapper {
  width: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help-info__ico {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 6px solid #D579A1FF;
  border-radius: 50%;
  background-color: #B4014EFF;
  width: 128px;
  height: 128px;
}
.help-info__penumbra {
  border: 2px solid #EFEBEEFF;
  position: relative;
  z-index: 60;
  border-radius: 50%;
  background: #CECED3FF;
  width: 10px;
  height: 10px;
}
.help-info__text {
  margin-top: 12px;
  font-size: 16px;
  font-family: "light";
  font-weight: 600;
  color: rgb(30, 30, 30);
  line-height: 1.5;
  text-align: center;
}
.help-info__wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 960px) {
  .header__list li:hover .header__link:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
  }
  .product__img {
    height: 350px;
  }
  .popup__cross__items {
    -webkit-transform: rotate(-45deg) translate(-9px, 10px);
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  .popup__cross__items:last-child {
    -webkit-transform: rotate(45deg) translate(7px, 6px);
    transform: rotate(45deg) translate(7px, 6px);
  }
  .popup__cross {
    width: 30px;
    height: 30px;
  }
  .promo__info h1:first-child {
    font-size: 34px;
  }
  .promo__info h1:last-child {
    font-size: 82px;
  }
  .promo__sub button:hover {
    box-shadow: 0 3px 11px rgba(0,0,0,0.5);
  }
  .promo__sub button {
    width: 245px;
  }
}
  @media (max-width: 960px) {
  .header__burger {
    display: table;
  }
  .header__list {
    margin-top: 20px;
    display: block;
  }
  .popup__cross {
    width: 23px;
    height: 23px;
  }
  .popup__cross__items {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
  }
  .popup__cross__items:last-child {
    -webkit-transform: rotate(-45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
  }
  .promo__img:first-child {
    left: -25px;
  }
  .last-img {
    right: -30px !important;
  }
  .promo__container {
    overflow: hidden;
  }
  .promo__sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .promo__sub button {
    margin-bottom: 25px;
    width: 408px;
  }
  .promo__sub button:last-child {
    margin-bottom: 0;
  }
  .promo__info h1:last-child {
    display: table;
    margin: 0 auto;
    font-size: 72px;
  }
  .promo__info h1:first-child {
    font-size: 32px;
  }
  .catalog__product {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .product {
    margin-bottom: 20px;
    margin-right: 0;
    width: 38%;
  }
  .product__img {
    height: 42.5vw;
  }
  .header__link {
    color: #ffffffe0;
  }
  .header__list li {
    margin-bottom: 15px;
  }
}
@media (max-width: 825px) {
  .promo__container {
    padding: 75px 0;
  }
  .promo__img {
    display: none;
  }
}
@media (max-width: 790px) {
  .help-info__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .help-info__columns:before {
    width: 49%;
    margin-top: 310px;
  }
  .help-info__columns:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #EFEBEEFF;
    position: absolute;
    top: 154px;
  }
  .help-info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .help-info__wrap {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .menu {
    width: 100vw;
  }
  .small-info__text h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .catalog__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product {
    width: 300px;
  }
  .product__img {
    height: inherit;
  }
}
@media (min-width: 525px) {
  .size-table__meaning td:first-child {
    padding: 15px 0 15px 30px;
  }
  .size-table__meaning:first-child td, .size-table__meaning:nth-child(2) td, .size-table__meaning td {
    font-size: 14px;
  }
  .catalog__btn {
    font-size: 18px;
  }
}
@media (max-width: 525px) {
  .size-table__meaning td:first-child {
    padding-left: 0;
  }
  .size-table__meaning td:first-child {
    padding-left: 5px;
    font-size: 12px;
  }
  .size-table__meaning td:last-child {
    padding-right: 5px;
  }
  .size-table__meaning td, .size-table__meaning:first-child td, .size-table__meaning:nth-child(2) td {
    font-size: 12px;
  }
  .info-text h1 {
    font-size: 28px;
  }
  .size-table__meaning td {
    border-right: 1px solid rgba(109, 109, 109);
    border-bottom: 1px solid rgba(109, 109, 109);
  }
  .size-table__meaning:last-child td {
    border-bottom: 0;
  }
  .size-table__meaning td:last-child {
    border-right: 0;
  }
  .size-table__container {
    padding: 44px 0 0 0;
  }
  .catalog__btn {
    font-size: 15px;
  }
}
@media (min-width: 460px) {
  .promo__info p:first-child {
    font-size: 24px;
  }
}
@media (max-width: 460px) {
  .form {
    width: 85%;
  }
  .help-info__container {
    padding: 70px 0 30px 0;
  }
  .help-info__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  } 
  .help-info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .help-info__columns:after, .help-info__columns:before, .help-info__penumbra  {
    display: none;
  }
  .promo__info h1:first-child {
    font-size: 6.15vw;
  }
  .promo__info h1:last-child {
    font-size: 14vw;
  }
  .promo__info p:first-child {
    font-size: 4.8vw;
  }
  .promo__info p:last-child {
    font-size: 32px !important;
  }
  .promo__sub button {
    width: 80%;
  }
  .header__container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media (max-width: 330px) {
  .product {
    width: 100%;
  }
}